body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px ;
    color:gray;
    font-weight: bold;
    
}
p{
    color: gray;
}
.other{
    color:black;
    padding-left: 50%;
}
.me{
    padding-left: 50%;
}
.color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.half img{
    width: 100%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red, yellow);
    background-color: orange;
    font-weight: 700;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    color: white;
    border-radius: 100px;
}
.about{
    background-image: url('folder 2/Frame\ 58.jpg');
    background-position: left;
}
